.book {
    padding: 1rem;
    text-align: center;
    background: white;
    border-radius: 15px;
}
.title {
    margin: 1rem;
    color: #222;
    font-size: 1.5rem;
}

.image{
    height: 200px;
}

